@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  margin: 0;
  height: 100vh;
  color: #f6f6f6;
  background-color: #2f2f2f;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

